<template>
    <v-container grid-list-lg>
        <h1>Changes</h1>
        <vue-release-notes v-bind:releases="releases"/>
    </v-container>
</template>

<script>
import VueReleaseNotes from 'vue-release-notes'
import 'vue-release-notes/dist/vue-release-notes.css'

export default {
    name: 'Changelog',
    components: {
        VueReleaseNotes
    },
    data() {
        return {
            // Types: new, fix, any other

            releases: [
                {
                    version: '1.0.3.0',
                    date: new Date(2019, 4, 29),
                    changes: [
                        {
                            type: 'fix',
                            description: 'Kiosk white-screen stall fixed'
                        }
                    ]
                },
                {
                    version: '1.0.2.0',
                    date: new Date(2019, 4, 9),
                    changes: [
                        {
                            type: 'fix',
                            description: 'Form auto-close timer fixed'
                        }
                    ]
                },
                {
                    version: '1.0.0.0',
                    date: new Date(2019, 2, 22),
                    changes: [
                        {
                            type: 'new',
                            description: 'New kiosk beta testing started'
                        }
                    ]
                }
            ]
        }
    }
}
</script>

<style>
</style>
