<template>
  <v-container v-if="authenticated" grid-list-lg>
    <v-progress-linear v-if="isLoading" :indeterminate="isLoading"></v-progress-linear>
    <v-layout row wrap>
      <v-flex lg2>
        <v-card dark elevation="5" height="130" id="stat-card" class="blue text-lg-right">
          <v-card-text class="text-lg-left card-text">KIOSKS</v-card-text>
          <v-card-text id="stat-num">
            <animated-number
              :value="kioskCount"
              :formatValue="formatToPrice"
            />
          </v-card-text>
          <v-icon id="stat-icon" size="55" left>smartphone</v-icon>
        </v-card>
      </v-flex>
      <v-flex lg2>
        <v-card dark elevation="5" height="130" id="stat-card" class="red text-lg-right">
          <v-card-text class="text-lg-left card-text">TOUCHES</v-card-text>
          <v-card-text id="stat-num">
            <animated-number
              :value="touchCount"
              :formatValue="formatToPrice"
            />
          </v-card-text>
          <v-icon id="stat-icon" size="55" left>touch_app</v-icon>
        </v-card>
      </v-flex>
      <v-flex lg2>
        <v-card dark elevation="5" height="130" id="stat-card" class="green text-lg-right">
          <v-card-text class="text-lg-left card-text">EMAILS</v-card-text>
          <v-card-text id="stat-num">
            <animated-number
              :value="emailCount"
              :formatValue="formatToPrice"
            />
          </v-card-text>
          <v-icon id="stat-icon" size="55" left>email</v-icon>
        </v-card>
      </v-flex>
      <v-flex lg2>
        <v-card dark elevation="5" height="130" id="stat-card" class="purple text-lg-right">
          <v-card-text class="text-lg-left card-text">SMS</v-card-text>
          <v-card-text id="stat-num">
            <animated-number
              :value="smsCount"
              :formatValue="formatToPrice"
            />
          </v-card-text>
          <v-icon id="stat-icon" size="55" left>sms</v-icon>
        </v-card>
      </v-flex>
      <v-flex lg2>
        <v-card dark elevation="5" height="130" id="stat-card" class="cyan text-lg-right">
          <v-card-text class="text-lg-left card-text">COUPONS</v-card-text>
          <v-card-text id="stat-num">
            <animated-number
              :value="couponCount"
              :formatValue="formatToPrice"
            />
          </v-card-text>
          <v-icon id="stat-icon" size="55" left>local_offer</v-icon>
        </v-card>
      </v-flex>
      <v-flex lg2>
        <v-card dark elevation="5" height="130" id="stat-card" class="amber text-lg-right">
          <v-card-text class="text-lg-left card-text">TICKETS</v-card-text>
          <v-card-text id="stat-num">
            <animated-number
              :value="ticketCount"
              :formatValue="formatToPrice"
            />
          </v-card-text>
          <v-icon id="stat-icon" size="55" left>local_play</v-icon>
        </v-card>
      </v-flex>
    </v-layout>

    <v-layout row>
      <v-flex lg4>
        <v-data-table
        :headers="healthHeaders"
        :items="kiosks"
        class="elevation-1"
        >
          <template v-slot:items="props">
            <td>{{ props.item.name }}</td>
            <td class="text-xs-right">{{ props.item.location }}</td>
            <!-- <td class="text-xs-right">{{ props.item.lastPing | moment("MMMM Do, h:mm a") }}</td> -->
            <td class="text-xs-right">{{ getTimeDifference(props.item.lastPing) + ' Minutes ago'}}</td>
            <td>
              <v-icon v-if="getTimeDifference(props.item.lastPing) < 15" color="green">tv</v-icon>
              <v-icon v-else color="red">tv</v-icon>
            </td>
          </template>
        </v-data-table>
      </v-flex>
      <v-flex lg8>
        <v-card dark elevation="5" height="400" id="stat-card" class="indigo">
          <!-- <v-btn @click="checkStatus">click me</v-btn> -->
          
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
  <v-container v-else grid-list-lg>
    <h1>Please Login Above</h1>
  </v-container>
</template>

<script>
import axios from 'axios';
import AnimatedNumber from "animated-number-vue";
import { mapActions, mapGetters } from 'vuex'
export default {
  name: 'home',
  components: {
    AnimatedNumber
  },
  data () {
    return {
      isLoading: true,
      kioskCount: 0,
      touchCount: 0,
      emailCount: 0,
      smsCount: 0,
      couponCount: 0,
      ticketCount: 0,
      kiosks: [],
      currentTime: 0,
      healthHeaders: [
          {
            text: 'Kiosk Name',
            align: 'left',
            sortable: true,
            value: 'name'
          },
          { 
            text: 'Location',
            value: 'address_city',
            align: 'right' 
          },
          { 
            text: 'Last Ping', 
            value: 'pingTime' ,
            align: 'center' 
          },
          { 
            text: 'Status'
          }
        ]
    }
  },
  created() {
    //this.interval = setInterval(() => this.getStats(), 1000); // UPDATES STATS EVERY SECOND!
    this.getStats();
    this.getKiosks();
    setInterval(() => this.now = Date.now(), 1000 * 60)
  },
  methods: {
    getTimeDifference(item) {
      var currentTime = Date.now();
      var diff = currentTime - item;

      diff /= 1000;

      var seconds = Math.round(diff);
      var minutes = Math.round(seconds / 60);
      return(minutes); 
    },
    formatToPrice(value) {
      return `${value.toFixed(0)}`;
    },
    getStats() {
      this.axios.get('/api/v1/log/month/1').then((res) => {
        var data = res.data;
        this.kioskCount = (data.kiosk_count || 0);
        this.touchCount = (data.touch_count || 0);
        this.emailCount = (data.email_count || 0);
        this.smsCount = (data.sms_count || 0);
        this.couponCount = (data.coupon_count || 0);
        this.ticketCount = (data.ticket_count || 0);
      }).catch((err) => {
        alert(err);
      });
    },
    getKiosks() {
      //this.currentTime = Date.now();
      this.axios.get('/api/v1/kiosk/').then((res) => {
        this.kiosks = res.data;
        this.isLoading = false;
      }).catch((err) => {
        alert(err);
      });
    },
    checkStatus(time) {
      alert('Current Time: ' + this.now);
    }
  },
  computed: mapGetters(['authenticated'])
}
</script>

<style>
.card-text {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight:bold;
} 
#stat-card {
  border-radius: 9px;
}
#stat-num {
  font-size: 30pt;
  position: relative;
  top: -20px;
  left: -150px;
  /* font-size: 3em; */
}
#stat-title {
  position: relative;
  top: -25px;
  left: -20px;
}
#stat-icon {
  position: relative;
  top: -85px;
  left: -20px;
}
</style>