<template>
  <v-container grid-list-lg>
    <h1>Kiosks</h1> 
    <v-layout row wrap>
      <v-flex lg12>

        <v-dialog v-model="showDialog" persistent max-width="1200px">
          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle  }}</span>
            </v-card-title>
            <v-card-text>
              <v-container grid-list-md>
                <v-layout wrap>
                  <v-flex md3>
                    <v-text-field v-if="this.editedIndex > -1" disabled v-model="newKioskData.name" label="Kiosk Name" ></v-text-field>
                    <v-text-field v-else v-model="newKioskData.name" label="Kiosk Name" ></v-text-field>
                    <v-select
                      v-model="newKioskData.status"
                      :items="kioskStatusItems"
                      label="Status"
                    ></v-select>
                    <v-text-field v-model="newKioskData.placement" label="Placement" ></v-text-field>
                    <v-textarea
                    v-model="newKioskData.note"
                      name="input-7-1"
                      label="Notes"
                      value=""
                    ></v-textarea>
                    <v-text-field v-model="newKioskData.badgeImage" label="Badge Image URL" ></v-text-field>
                    <v-switch
                      v-model="newKioskData.showExpedia"
                      :label="'Show Expedia?'">
                    </v-switch>
                  </v-flex>
                  <v-flex md2>
                    <v-text-field v-model="newKioskData.contact_title" label="Contact Title" ></v-text-field>
                    <v-text-field v-model="newKioskData.contact_firstName" label="Contact First Name" ></v-text-field>
                    <v-text-field v-model="newKioskData.contact_lastName" label="Contact Last Name" ></v-text-field>
                    <v-text-field v-model="newKioskData.contact_email" label="Contact Email" ></v-text-field>
                    <v-text-field v-model="newKioskData.contact_directPhone" label="Contact Direct Phone #" ></v-text-field>
                    <v-text-field v-model="newKioskData.contact_cellphone" label="Contact Cell Phone #" ></v-text-field>
                    <v-text-field v-model="newKioskData.zipcode" label="Zipcode" ></v-text-field>
                    
                  </v-flex>
                  <v-flex md3>
                    <v-text-field v-model="newKioskData.address_street1" label="Address Street" ></v-text-field>
                    <v-text-field v-model="newKioskData.address_street2" label="Address Street #2" ></v-text-field>
                    <v-text-field v-model="newKioskData.address_city" label="Address City" ></v-text-field>
                    <v-text-field v-model="newKioskData.address_state" label="Address State" ></v-text-field>
                    <v-text-field v-model="newKioskData.address_zip" label="Address Zipcode" ></v-text-field>
                    <v-text-field v-model="newKioskData.location" label="Location" ></v-text-field>
                    <v-text-field v-model="newKioskData.tvid" label="Teamviewer ID" ></v-text-field>
                  </v-flex>
                  <v-flex md4>
                    <v-card v-if="editedIndex > -1">
                      <v-card-title>Listings</v-card-title>
                      <v-card-text>
                        <v-data-table
                          :headers="listingHeader"
                          :items="newKioskData.listings"
                          >
                          <template v-slot:items="props">
                            <td>{{props.item.name}}</td>
                            <td>
                              <v-checkbox 
                                :key="props.item.id" 
                                v-model="props.item.value"
                              ></v-checkbox>
                              </td>
                          </template>

                        </v-data-table>
                      </v-card-text>
                    </v-card>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card-text>
            <v-divider></v-divider>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="green darken-1" dark @click="saveKiosk">{{ formSubmitText }}</v-btn>
              <v-btn color="red darken-1" dark @click="toggleNewKiosk">Close</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>

        <v-card>
          <v-card-title>
            <v-text-field
              v-model="search"
              append-icon="search"
              label="Search"
              single-line
              hide-details
            ></v-text-field>
            <v-spacer></v-spacer>
            <v-btn @click="toggleNewKiosk" dark class="green">
              <v-icon left>add_circle_outline</v-icon>
              New Kiosk
            </v-btn>
            <v-btn @click="refreshData" dark class="blue">
              <v-icon left>refresh</v-icon>
              Refresh
            </v-btn>
          </v-card-title>
          
          <v-data-table
          :headers="headers"
          :items="kiosks"
          class="elevation-1"
          :search="search"
          :loading="isKiosksLoading"
          :pagination.sync="pagination"
          >
            <template v-slot:items="props">
              <td>{{ props.item.name }}</td>
              <td>{{ props.item.location }}</td>
              <td>{{ props.item.status }}</td>
              <!-- <td class="text-xs-right">{{ props.item.lastPing | moment("MMMM Do, h:mm a") }}</td> -->
              <td v-if="getTimeDifference(props.item.lastPing) < 15" class="green darken-1">{{ getTimeDifference(props.item.lastPing) + ' Minutes ago' }}</td>
              <td v-else-if="props.item.status === 'Inactive'" class="grey">DEAD/OFFLINE</td>
              <td v-else-if="props.item.status === 'Updating'" class="orange">UPDATING</td>
              <td v-else class="red darken-1">{{ getTimeDifference(props.item.lastPing) + ' Minutes ago' }}</td>
              <td>{{ props.item.version  | moment("MMMM Do, h:mm a")}}</td>
              <td>{{ props.item.createdAt  | moment("MMMM Do, h:mm a")}}</td>
              <td>{{ props.item.updatedAt  | moment("MMMM Do, h:mm a")}}</td>
              <td>
                <v-btn v-if="getTimeDifference(props.item.lastPing) > 15" disabled small fab @click="launchRDC(props.item)" class="blue">
                  <v-icon>tap_and_play</v-icon>
                </v-btn>
                <v-btn v-else-if="props.item.status === 'Inactive'" disabled small fab @click="launchRDC(props.item)" class="blue">
                  <v-icon>tap_and_play</v-icon>
                </v-btn>
                <v-btn v-else small fab @click="launchRDC(props.item)" class="blue">
                  <v-icon>tap_and_play</v-icon>
                </v-btn>

                <v-btn small fab @click="editKiosk(props.item)" class="green">
                  <v-icon>edit</v-icon>
                </v-btn>
                <v-btn small fab @click="deleteKioskPrompt(props.item)" class="red">
                  <v-icon>close</v-icon>
                </v-btn>
              </td>
            </template>
          </v-data-table>
        </v-card>
      </v-flex>
    </v-layout> 
  </v-container>
</template>

<script>
import axios from 'axios';
export default {
  name: 'kiosk',
  components: {
  },
  data () {
      return {
        listingHeader: [{
          text: 'Listing Name',
          align: 'left',
          sortable: true,
          value: 'name'
        },{
          text: 'Enabled?',
          align: 'right',
          sortable: true,
          value: 'name'
        }],
        listings: [],
        //rowsPerPageItems: [10, 20, 30, -1],
        pagination: {
          rowsPerPage: 10
        },
        isKiosksLoading: false,
        search: '',
        editedIndex: -1,
        newKioskData: {
          name: '',
          status: '',
          placement: '',
          note: '',
          badgeImage: '',
          zipcode: '',
          contact_title: '',
          contact_firstName: '',
          contact_lastName: '',
          contact_email: '',
          contact_directPhone: '',
          contact_cellphone: '',
          address_street1: '',
          address_street2: '',
          address_city: '',
          address_state: '',
          address_zip: '',
          showExpedia: false,
          zipcode: '',
          location: '',
          listings: [],
          tvid: ''
        },
        kioskStatusItems: ['Active', 'Inactive', 'Updating'],
        showDialog: false,
        kiosks: [],
        headers: [
          {
            text: 'Kiosk Name',
            align: 'left',
            sortable: true,
            value: 'name'
          },
          {
            text: 'Location',
            value: 'address_city',
            align: 'left',
            sortable: true
          },
          {
            text: 'Status',
            value: 'status',
            align: 'left',
            sortable: true
          },
          {
            text: 'Ping',
            value: 'lastPing',
            align: 'left',
            sortable: true
          },
          {
            text: 'Version',
            value: 'version',
            align: 'left',
            sortable: true
          },
          {
            text: 'Created',
            value: 'status',
            align: 'left',
            sortable: true
          },
          {
            text: 'Last Updated',
            value: 'status',
            align: 'left',
            sortable: true
          },
          {
            text: 'Actions',
            value: 'actions',
            align: 'left'
          }
        ]
      }
    },
    computed: {
      formTitle() {
        return this.editedIndex === -1 ? 'New Kiosk' : 'Edit Kiosk';
      },
      formSubmitText() {
        return this.editedIndex === -1 ? 'Create' : 'Update';
      }
    },
    methods: {
      getTimeDifference(item) {
        var currentTime = Date.now();
        var diff = currentTime - item;

        diff /= 1000;

        var seconds = Math.round(diff);
        var minutes = Math.round(seconds / 60);
        return(minutes); 
      },
      refreshData() {
        this.getKiosks();
      },
      saveKiosk() {
        if (this.editedIndex > -1) {
          // Do Update
          this.updateKiosk();
        } else {
          // Do Create
          this.createKiosk();
        }
      },
      clearDialog() {
        for (var member in this.newKioskData) delete newKioskData[member];
      },
      launchRDC(item) {
        var url = "https://start.teamviewer.com/device/" + item.tvid + "/authorization/password/mode/control";
        window.open(url, '_blank');
      },
      editKiosk(item) {
        this.editedIndex = this.kiosks.indexOf(item);
        this.newKioskData = Object.assign({}, item);
        this.showDialog = true;
      },
      toggleNewKiosk() {
        this.editedIndex = -1;
        
        this.newKioskData.name = '';
        this.newKioskData.status = '';
        this.newKioskData.placement = '';
        this.newKioskData.note = '';
        this.newKioskData.badgeImage = '';
        this.newKioskData.zipcode = '';
        this.newKioskData.contact_title = '';
        this.newKioskData.contact_firstName = '';
        this.newKioskData.contact_lastName = '';
        this.newKioskData.contact_email = '';
        this.newKioskData.contact_directPhone = '';
        this.newKioskData.contact_cellphone = '';
        this.newKioskData.address_street1 = '';
        this.newKioskData.address_street2 = '';
        this.newKioskData.address_city = '';
        this.newKioskData.address_state = '';
        this.newKioskData.address_zip = '';
        this.newKioskData.showExpedia = false;
        this.newKioskData.zipcode = '';
        this.newKioskData.location = '';
        this.newKioskData.listings = [];
        this.newKioskData.tvid = '';

        this.showDialog = !this.showDialog;
      },
      getKiosks() {
        axios.get('/api/v1/kiosk/').then((res) => {
          this.kiosks = res.data;
          this.isKiosksLoading = false;
        }).catch((err) => {
          alert('Error - ' + err.message);
        });
      },
      deleteKiosk(item) {
        // TODO kiosk deletion error handling
        axios.delete('/api/v1/kiosk/' + item.name).then((res) => {
          if (res.data.message) {
            swal(item.name + " has been deleted!", {
              icon: "success",
            });
          }
        });
      },
      deleteKioskPrompt(item) {
        const index = this.kiosks.indexOf(item);
        swal({
          title: "Are you sure?",
          text: "Once deleted, you will not be able to recover this Kiosk",
          icon: "warning",
          buttons: true,
          dangerMode: true,
        })
        .then((willDelete) => {
          if (willDelete) {
            this.kiosks.splice(index, 1);
            this.deleteKiosk(item);
          } else {
            swal("You have canceled the Kiosk deletion.");
          }
        });
      },
      updateKiosk() {
        // TODO kiosk update error handling
        axios.put('/api/v1/kiosk/' + this.newKioskData.name, {
          name: this.newKioskData.name,
          status: this.newKioskData.status,
          placement: this.newKioskData.placement,
          badgeImage: this.newKioskData.badgeImage,
          showExpedia: this.newKioskData.showExpedia,
          note: this.newKioskData.note,
          zipcode: this.newKioskData.zipcode,
          contact_firstName: this.newKioskData.contact_firstName,
          contact_lastName: this.newKioskData.contact_lastName,
          contact_email: this.newKioskData.contact_email,
          contact_directPhone: this.newKioskData.contact_directPhone,
          contact_cellphone: this.newKioskData.contact_cellphone,
          contact_title: this.newKioskData.contact_title,
          address_street1: this.newKioskData.address_street1,
          address_street2: this.newKioskData.address_street2,
          address_city: this.newKioskData.address_city,
          address_state: this.newKioskData.address_state,
          address_zip: this.newKioskData.address_zip,
          location: this.newKioskData.location,
          listings: this.newKioskData.listings,
          tvid: this.newKioskData.tvid

        }).then((res) => {
          this.getKiosks();
          this.showDialog = false;
          this.$swal('Success!', 'Kiosk successfully updated!', 'success');
        }).catch((err) => {
          this.$swal('Error', 'There was en error updating the Kiosk : ' + err.message, 'error');
        });
      },
      createKiosk() {
        // TODO kiosk creation error handling
        axios.post('/api/v1/kiosk/', {
          name: this.newKioskData.name,
          status: this.newKioskData.status,
          placement: this.newKioskData.placement,
          badgeImage: this.newKioskData.badgeImage,
          showExpedia: this.newKioskData.showExpedia || false,
          note: this.newKioskData.note,
          zipcode: this.newKioskData.zipcode,
          contact_firstName: this.newKioskData.contact_firstName,
          contact_lastName: this.newKioskData.contact_lastName,
          contact_email: this.newKioskData.contact_email,
          contact_directPhone: this.newKioskData.contact_directPhone,
          contact_cellphone: this.newKioskData.contact_cellphone,
          contact_title: this.newKioskData.contact_title,
          address_street1: this.newKioskData.address_street1,
          address_street2: this.newKioskData.address_street2,
          address_city: this.newKioskData.address_city,
          address_state: this.newKioskData.address_state,
          address_zip: this.newKioskData.address_zip,
          location: this.newKioskData.location,
          tvid: this.newKioskData.tvid
        }).then((res) => {
          this.getKiosks();
          this.showDialog = false;
          this.$swal('Success!', 'Kiosk successfully created!', 'success');
        }).catch((err) => {
          this.$swal('Error', 'There was en error creating the Kiosk : ' + err.message, 'error');
        });
      }
    },
    created() {
      this.getKiosks();
      this.isKiosksLoading = true;
    }
}
</script>


<style>
#kiosk-card {
  border-radius: 9px;
}
.swal-modal {
  font-family: Helvetica;
}
</style>
