<template>
  <v-container grid-list-lg>
    <h1>Listings</h1>
    <v-layout row wrap>
      <v-flex lg12>

        <!-- DIALOG HERE -->
        <v-dialog v-model="showDialog" persistent max-width="1300px">
          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>
            <v-card-text>
              <v-container grid-list-md>
                <v-layout wrap>
                  <v-flex md6>
                    <v-text-field v-if="this.editedIndex > -1" v-model="newListingData.name" disabled label="Listing Name"></v-text-field>
                    <v-text-field v-else v-model="newListingData.name" label="Listing Name"></v-text-field>
                    <v-text-field v-model="newListingData.category" label="Category"></v-text-field>
                    <v-text-field v-model="newListingData.logo" label="Logo File Name"></v-text-field>
                    <v-text-field v-model="newListingData.attractionName" label="Attraction Name"></v-text-field>
                    <v-text-field v-model="newListingData.phone" label="Phone"></v-text-field>
                    <v-text-field v-model="newListingData.couponImage" label="Coupon Image"></v-text-field>
                  </v-flex>
                  <v-flex md6>
                    <v-text-field v-model="newListingData.videoName" label="BRoll Video Name"></v-text-field>
                    <v-text-field v-model="newListingData.fullScreenName" label="Fullscreen Video Name"></v-text-field>
                    <v-textarea v-model="newListingData.description" name="input-7-1" label="Description" value="" ></v-textarea>
                    <!-- <v-text-field v-model="newListingData.description" label="Description"></v-text-field> -->
                    <v-textarea v-model="newListingData.hours" name="input-7-1" label="Hours" value="" ></v-textarea>
                    <!-- <v-text-field v-model="newListingData.hours" label="Hours"></v-text-field> -->
                    <v-text-field v-model="newListingData.ticketProvider" label="Ticket Provider"></v-text-field>
                    <v-switch
                      v-model="newListingData.publish"
                      :label="'Publish?'">
                    </v-switch>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card-text>
            <v-divider></v-divider>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="green darken-1" dark @click="saveListing">{{ formSubmitText }}</v-btn>
              <v-btn color="red darken-1" dark @click="toggleNewListing">Close</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>

        <v-card>
          <v-card-title>
            <v-text-field
            v-model="search"
            append-icon="search"
            label="Search"
            single-line
            hide-details
            ></v-text-field>
            <v-spacer></v-spacer>
            <v-btn dark class="green" @click="toggleNewListing">
              <v-icon left>add_circle_outline</v-icon>
              New Listing
            </v-btn>
            <v-btn @click="refreshData" dark class="blue">
              <v-icon left>refresh</v-icon>
              Refresh
            </v-btn>
          </v-card-title>

          <v-data-table
          :headers="headers"
          :items="listings"
          :search="search"
          :loading="isListingsLoading"
          :pagination.sync="pagination"
          :rows-per-page-items="rowsPerPageItems"
          class="elevation-1"
          >
          <template v-slot:items="props">
            <td>{{ props.item.name }}</td>
            <td>{{ props.item.category }}</td>
            <td>{{ props.item.createdAt | moment("MMMM Do, h:mm a")}}</td>
            <td>{{ props.item.updatedAt | moment("MMMM Do, h:mm a")}}</td>
            <td>
              <v-btn small fab class="green" @click="editListing(props.item)">
                <v-icon>edit</v-icon>
              </v-btn>
              <v-btn small fab class="red" @click="deleteListingPrompt(props.item)">
                <v-icon>close</v-icon>
              </v-btn>
            </td>
          </template>
          </v-data-table>
        </v-card>

      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import axios from 'axios';
export default {
  name: 'listings',
  data () {
      return {
        search: '',
        editedIndex: -1,
        showDialog: false,
        isListingsLoading: false,
        listings: [],
        rowsPerPageItems: [10, 20, 30, 40],
        pagination: {
          rowsPerPage: 10
        },
        newListingData: {
          _id: '',
          name: '',
          category: '',
          logo: '',
          videoName: '',
          fullScreenName: '',
          publish: false,
          attractionName: '',
          phone: '',
          description: '',
          hours: '',
          ticketProvider: '',
          couponImage: ''
        },
        headers: [
        {
          text: 'Listing Name',
          align: 'left',
          sortable: true,
          value: 'name'
        },
        {
          text: 'Category',
          align: 'left',
          sortable: true,
          value: 'created'
        },
        {
          text: 'Created',
          align: 'left',
          sortable: true,
          value: 'created'
        },
        {
          text: 'Last Updated',
          align: 'left',
          sortable: true,
          value: 'name'
        },
        {
          text: 'Actions',
          align: 'left',
          sortable: true,
          value: 'name'
        }]
      }
    },
    computed: {
      formTitle() {
        return this.editedIndex === -1 ? 'New Listing' : 'Edit Listing';
      },
      formSubmitText() {
        return this.editedIndex === -1 ? 'Create' : 'Update';
      }
    },
    methods: {
      deleteListingPrompt(item) {
        const index = this.listings.indexOf(item);
        swal({
          title: "Are you sure?",
          text: "Once deleted, you will not be able to recover this Listing",
          icon: "warning",
          buttons: true,
          dangerMode: true,
        })
        .then((willDelete) => {
          if (willDelete) {
            this.listings.splice(index, 1);
            this.deleteListing(item);
          } else {
            swal("You have canceled the Listing deletion.");
          }
        });
      },
      deleteListing(item) {
        axios.delete('/api/v1/listing/' + item.name).then((result) => {
          if (result.data.message) {
            swal(item.name + ' has been deleted!', {
              icon: 'success'
            });
          }
        }).catch((err) => {
          swal('Error: ' + err.message);
        });
      },
      editListing(item) {
        this.editedIndex = this.listings.indexOf(item);
        this.newListingData = Object.assign({}, item);
        this.showDialog = true;
      },
      saveListing() {
        if (this.editedIndex > -1) {
          //Do Update
          this.updateListing();
        } else {
          // Do Create
          this.createListing();
        }
      },
      refreshData() {
        this.getListings();
      },
      toggleNewListing() {
        this.editedIndex = -1;

        this.newListingData._id = '';
        this.newListingData.name = '';
        this.newListingData.category = '';
        this.newListingData.logo = '';
        this.newListingData.videoName = '';
        this.newListingData.fullScreenName = '';
        this.newListingData.publish = false;
        this.newListingData.attractionName = '';
        this.newListingData.phone = '';
        this.newListingData.description = '';
        this.newListingData.hours = '';
        this.newListingData.ticketProvider = '';
        this.newListingData.couponImage = '';

        this.showDialog = !this.showDialog;
      },
      getListings() {
        axios.get('/api/v1/listing/').then((result) => {
          this.listings = result.data;
          this.isListingsLoading = false;
        }).catch((err) => {
          alert('Error - ' + err.message);
        });
      },
      updateListing() {
        axios.put('/api/v1/listing/' + this.newListingData._id, {
          //name: this.newListingData.name,
          category: this.newListingData.category,
          logo: this.newListingData.logo,
          videoName: this.newListingData.videoName,
          fullScreenName: this.newListingData.fullScreenName,
          publish: this.newListingData.publish,
          attractionName: this.newListingData.attractionName,
          phone: this.newListingData.phone,
          description: this.newListingData.description,
          hours: this.newListingData.hours,
          ticketProvider: this.newListingData.ticketProvider,
          couponImage: this.newListingData.couponImage
        }).then((result) => {
          this.getListings();
          this.showDialog = false;
          this.$swal('Success!', 'Listing successfully updated!', 'success');
        }).catch((err) => {
          this.$swal('Error', 'There was en error updating the Listing : ' + err.message, 'error');
        });
      },
      createListing() {
        axios.post('/api/v1/listing/', {
          name: this.newListingData.name,
          category: this.newListingData.category,
          logo: this.newListingData.logo,
          videoName: this.newListingData.videoName,
          fullScreenName: this.newListingData.fullScreenName,
          publish: this.newListingData.publish || false,
          attractionName: this.newListingData.attractionName,
          phone: this.newListingData.phone,
          description: this.newListingData.description,
          hours: this.newListingData.hours,
          ticketProvider: this.newListingData.ticketProvider,
          couponImage: this.newListingData.couponImage
        }).then((result) => {
          this.getListings();
          this.showDialog = false;
          this.$swal('Success!', 'Listing successfully created!', 'success');
        }).catch((err) => {
          this.$swal('Error', 'There was en error creating the Listing : ' + err.message, 'error');
        });
      }
    },
    created() {
      this.getListings();
      this.isListingsLoading = true;
    },
}
</script>

<style>

</style>