<template>
  <v-container grid-list-lg>
    <h1>Analytics</h1>
    <v-layout row wrap>
      <v-flex lg12>
        <v-card>
          <v-card-title>
            <v-flex lg3>
              <v-select
                :items="logItems"
                :value="default_time"
                label="Time Frame"
                dense
                @change="changeTime"
              ></v-select>
            </v-flex>
            <v-flex lg3>
              <v-select
                  :items="listingsList"
                  label="Select Listing"
                  @change="changeListing"
                ></v-select>
            </v-flex>
            <v-spacer></v-spacer>
            <v-btn @click="refreshStats" dark class="blue">
              <v-icon left>refresh</v-icon>
              Refresh
            </v-btn>
          </v-card-title>
          <v-card-text>
            <v-layout row wrap>
              <v-progress-linear
                v-if="isStatsLoading"
                color="green"
                indeterminate
                stream
                height="3"
              ></v-progress-linear>
              <v-flex lg2>
                <v-card ripple dark elevation="5" height="130" class="blue" id="stat-card">
                  <v-card-text class="text-lg-left card-text">KIOSKS</v-card-text>
                  <v-card-text class="cardtext">{{ kioskCount }}</v-card-text>
                  <v-icon class="cardicon" size="55" right>smartphone</v-icon>
                </v-card>
              </v-flex>
              <v-flex lg2>
                <v-card ripple dark elevation="5" height="130" class="red" id="stat-card">
                  <v-card-text class="text-lg-left card-text">TOUCHES</v-card-text>
                  <v-card-text class="cardtext">{{ touchCount }}</v-card-text>
                  <v-icon class="cardicon" size="55" right>touch_app</v-icon>
                </v-card>
              </v-flex>
              <v-flex lg2>
                <v-card ripple dark elevation="5" height="130" class="green" id="stat-card">
                  <v-card-text class="text-lg-left card-text">EMAILS</v-card-text>
                  <v-card-text class="cardtext">{{ emailCount }}</v-card-text>
                  <v-icon class="cardicon" size="55" right>email</v-icon>
                </v-card>
              </v-flex>
              <v-flex lg2>
                <v-card ripple dark elevation="5" height="130" class="purple" id="stat-card">
                  <v-card-text class="text-lg-left card-text">SMS</v-card-text>
                  <v-card-text class="cardtext">{{ smsCount }}</v-card-text>
                  <v-icon class="cardicon" size="55" right>sms</v-icon>
                </v-card>
              </v-flex>
              <v-flex lg2>
                <v-card ripple dark elevation="5" height="130" class="cyan" id="stat-card">
                  <v-card-text class="text-lg-left card-text">COUPONS</v-card-text>
                  <v-card-text class="cardtext">{{ couponCount }}</v-card-text>
                  <v-icon class="cardicon" size="55" right>local_offer</v-icon>
                </v-card>
              </v-flex>
              <v-flex lg2>
                <v-card ripple dark elevation="5" height="130" class="amber" id="stat-card">
                  <v-card-text class="text-lg-left card-text">TICKETS</v-card-text>
                  <v-card-text class="cardtext">{{ ticketCount }}</v-card-text>
                  <v-icon class="cardicon" size="55" right>local_play</v-icon>
                </v-card>
              </v-flex>
            </v-layout>

            <v-layout row>
              <v-flex lg12>
                <!-- <v-data-table
                  :headers="headers"
                  :items="logs"
                  :loading="isStatsLoading"
                  class="elevation-1"
                >
                  <template v-slot:items="props">
                    <td>{{ props.item.timestamp | moment('MMMM Do, h:mm a') }}</td>
                    <td>{{ props.item.kioskName }}</td>
                    <td>{{ parseAction(props.item.action) }}</td>
                    <td>{{ props.item.listingId }}</td>
                    <td>{{ props.item.details }}</td>
                  </template>
                </v-data-table> -->
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: 'stats',
  data () {
      return {
        listingsList: [],
        headers: [
          {
            text: 'Timestamp',
            align: 'left',
            sortable: true,
            value: 'timestamp'
          },
          {
            text: 'Kiosk',
            align: 'left',
            sortable: true,
            value: 'kioskName'
          },
          {
            text: 'Action',
            align: 'left',
            sortable: true,
            value: 'action'
          },
          {
            text: 'Listing',
            align: 'left',
            sortable: true,
            value: 'listing'
          },
          {
            text: 'Details',
            align: 'left',
            sortable: true,
            value: 'details'
          }
        ],
        logItems: ['All', 'Today', 'This Week', 'This Month', 'This Year'],
        time_frame: 'All',
        selected_listing: 'None',
        default_time: 'All',
        kioskCount: 0,
        touchCount: 0,
        emailCount: 0,
        smsCount: 0,
        couponCount: 0,
        ticketCount: 0,
        logs: [],
        isStatsLoading: false
      }
    },
    methods: {
      parseAction(action) {
        switch (action) {
          case 0: return 'Video-played';
          case 1: return 'Touch';
          case 2: return 'Email';
          case 3: return 'SMS';
          case 4: return 'Coupons';
          case 5: return 'Info';
          case 6: return 'Ticket';
        }
      },
      changeTime(value) {
        this.$set(this, 'time_frame', value);
        this.kioskCount = 0;
        this.touchCount = 0;
        this.emailCount = 0;
        this.smsCount = 0;
        this.couponCount = 0;
        this.ticketCount = 0;
      },
      changeListing(value) {
        this.$set(this, 'selected_listing', value);
        this.getStats();
      },
      getLogs() {
        this.isStatsLoading = true;
        this.axios.get('/api/v1/log/').then((res) => {
          var reversedLogs = res.data.reverse();
          this.logs = reversedLogs;
          this.isStatsLoading = false;  
        }).catch((err) => {
          alert(err);
          this.isStatsLoading = false;
        });
      },
      getListings() {
        this.listingsList = [];
        this.axios.get('http://167.99.7.234/api/v1/listing/').then((res) => {
          var rawListings = res.data;

          var cleanListings = rawListings.map((listing) => {
            return { text: listing.name, value: listing.name };
          });

          this.listingsList = cleanListings;
        });
      },
      // DAY WEEK MONTH YEAR
      // DAY      MONTH
      // need Week and Year
      refreshStats() {
        this.isStatsLoading = true;

        this.kioskCount = 0;
        this.touchCount = 0;
        this.emailCount = 0;
        this.smsCount = 0;
        this.couponCount = 0;
        this.ticketCount = 0;

        if (this.selected_listing === 'None') {
          console.log(`NO SELECTED LISTING ( Timeframe: ${this.time_frame})`);

          var timeFrame;

          switch (this.time_frame) {
            case 'All': timeFrame = 'year/3'; break;
            case 'Today': timeFrame = 'day/1'; break;
            case 'This Week': timeFrame = 'week/1'; break;
            case 'This Month': timeFrame = 'month/1'; break;
            //case 'This Year': timeFrame = 'day/200'; break;
          }

          this.axios.get('http://167.99.7.234/api/v1/log/' + timeFrame).then((res) => {
            console.log(res.data);

            var data = res.data;

            this.kioskCount = (data.kiosk_count || 0);
            this.touchCount = (data.touch_count || 0);
            this.emailCount = (data.email_count || 0);
            this.smsCount = (data.sms_count || 0);
            this.couponCount = (data.coupon_count || 0);
            this.ticketCount = (data.ticket_count || 0);

            this.isStatsLoading = false;
          });

          console.log(`Formatted Time Frame: ${timeFrame}`);

        } else {
          console.log(`SELECTED LISTING ( Timeframe: ${this.time_frame} ID: ${this.selected_listing} )`);

          var timeFrame;

          switch (this.time_frame) {
            case 'All': timeFrame = 'year/3'; break;
            case 'Today': timeFrame = 'day/1'; break;
            case 'This Week': timeFrame = 'week/1'; break;  
            case 'This Month': timeFrame = 'month/1'; break;
            //case 'This Year': timeFrame = 'day/200'; break;
          }
          this.axios.get('http://167.99.7.234/api/v1/log/listing/' + this.selected_listing  + '/' + timeFrame).then((res) => {

            if(res) {
              var data = res.data;

              this.kioskCount = (data.kiosk_count || 0);
              this.touchCount = (data.touch_count || 0);
              this.emailCount = (data.email_count || 0);
              this.smsCount = (data.sms_count || 0);
              this.couponCount = (data.coupon_count || 0);
              this.ticketCount = (data.ticket_count || 0);

              this.isStatsLoading = false;
            }
          });
        }
      },
      getStats() {
        this.isStatsLoading = true;
        this.kioskCount = 0;
        this.touchCount = 0;
        this.emailCount = 0;
        this.smsCount = 0;
        this.couponCount = 0;
        this.ticketCount = 0;

        this.getListings();

        this.isStatsLoading = false;
      }    
    },
    created() {
      this.getStats();
      // this.getLogs();
    },
}
</script>

<style>
.card-text {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight:bold;
} 

#stat-card {
  border-radius: 9px;
}
.cardtext {
  font-size: 3em;
}
.cardicon {
  position: relative;
  top: -85px;
  right: -180px;
}
</style>