<template>
  <v-container grid-list-lg>
    <h1>Users</h1>
    <v-layout row wrap>
      <v-flex lg12>
        <v-card>
          <v-card-title>
            <v-spacer></v-spacer>
            <v-btn @click="newUsers" class="green darken-1" dark>New User</v-btn>
          </v-card-title>
          <v-card-text>
            <v-layout row>
              <v-flex lg12>
                <v-data-table
                :headers="userHeaders"
                :items="userList"
                :loading="isUsersLoading"
                class="elevation-1"
                >
                  <template v-slot:items="props">
                    <td>{{ props.item.username }}</td>
                    <td>{{ props.item.password }}</td>
                    <td>
                      <v-btn small fab @click="editUser(props.item)" class="green">
                        <v-icon>edit</v-icon>
                      </v-btn>
                      <v-btn small fab @click="deleteUser(props.item)" class="red">
                        <v-icon>close</v-icon>
                      </v-btn>
                    </td>
                  </template>
                </v-data-table>
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: 'users',
  data () {
      return {
        isUsersLoading: true,
        userList: [],
        userHeaders: [
          {
            text: 'Username',
            align: 'left',
            sortable: true,
            value: 'username'
          },
          {
            text: 'Password',
            align: 'left',
            sortable: true,
            value: 'password'
          },
          {
            text: 'Actions',
            align: 'left',
            sortable: true,
            value: 'timestamp'
          }
        ]
      }
    },
    methods: {
      getUsers() {
        this.axios.get('/api/v1/user/').then((res) => {
          this.userList = res.data;
          this.isUsersLoading = false;
        }).catch((err) => {
          
        });
      },
      editUser(item) {
        alert('edit ' + item.username + ' clicked');
      },
      deleteUser(item) {
        alert('delete ' + item.username + ' clicked');
      }
    },
    created() {
      this.getUsers();
    },
}
</script>
