<template>
  <div class="navbar">
    <!-- <h1>{{ loggedInUsername }}</h1> -->
    <v-toolbar dark color="#3a4149">
      <!-- <div id="logoText">iTouchOrlando</div> -->
      <v-toolbar-side-icon></v-toolbar-side-icon>
      <v-toolbar-title class="white--text">iTouchOrlando</v-toolbar-title>

      <v-spacer></v-spacer>

      <v-btn icon>
        <v-icon>notifications</v-icon>
      </v-btn>

      <v-btn icon>
        <v-icon>settings</v-icon>
      </v-btn>

    </v-toolbar>
  </div>
</template>

<script>
export default {
  name: 'NavBar',
  props: {
    loggedInUsername: String
  }
} 
</script>

<style>
#logoText {
  font-size: 32px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
</style>
