<template>
    <v-card>
        <v-card-title>
            <span class="headline">User Profile</span>
        </v-card-title>
    </v-card>
</template>

<script>
export default {
  name: 'NewKiosk',
  data() {
      return {
          
      }
  },
} 
</script>

<style>

</style>
