<template>
    <v-flex lg2>
        <v-card dark elevation="5" height="130" id="stat-card" class="text-lg-right">
            <v-card-text class="text-lg-left card-text">{{ title }}</v-card-text>
            <v-card-text id="stat-num">{{ stat }}</v-card-text>
            <v-icon id="stat-icon" size="55" left>{{ icon }}</v-icon>
        </v-card>
    </v-flex>
</template>

<script>
export default {
  name: 'StatCard',
  props: ['title', 'stat', 'icon', 'cardStyle'],
  data() {
      return {
      }
  },
} 
</script>

<style>
.card-text {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight:bold;
} 
#stat-card {
  border-radius: 9px;
}
#stat-num {
  font-size: 30pt;
  position: relative;
  top: -20px;
  left: -150px;
}
#stat-title {
  position: relative;
  top: -25px;
  left: -20px;
}
#stat-icon {
  position: relative;
  top: -85px;
  left: -20px;
}
</style>
