<template>
  <div id="app">
    <v-app>
      <v-navigation-drawer dark permanent mini-variant width="175" v-model="drawer" clipped app>
        <v-list v-if="authenticated">
        <v-list-tile
          v-for="(item, index) in items"
          :href="item.href" :to="{name: item.href}" :key="index"
          active-class="blue"
          exact
        >
          
          <v-tooltip right>
            <template v-slot:activator="{ on }">
              
              <v-list-tile-action>
                <v-icon v-on="on">{{ item.icon }}</v-icon>
              </v-list-tile-action>

            </template>
            <span>{{ item.title }}</span>
          </v-tooltip>

          <v-list-tile-content>
            <v-list-tile-title><strong>{{ item.title }}</strong></v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
      </v-navigation-drawer>
      <v-toolbar dark fixed app absolute clipped-left>
        <!-- <v-toolbar-side-icon @click.stop="mini =!mini"></v-toolbar-side-icon> -->
        <v-toolbar-title><strong>iTouchOrlando Kiosk CRM</strong></v-toolbar-title>
        <v-spacer></v-spacer>
        <h1 v-if="authenticated" dark>Hello {{ idToken }}</h1>
        <v-btn v-if="authenticated" @click="logout()" class="red darken-1">
          <v-icon left>remove_circle_outline</v-icon>
          Logout
        </v-btn>
        <v-btn v-if="!authenticated" @click="login()" class="green darken-1">
          <v-icon left>directions_run</v-icon>
          Sign In
        </v-btn>
      </v-toolbar>
      <v-content>
        <router-view></router-view>
      </v-content>
    </v-app>
    <v-footer dark app>
      <span class="px-3">&copy; {{ new Date().getFullYear() }} <strong>iTouchOrlando</strong></span>
    </v-footer>
  </div>
</template>

<script type="text/babel">
import { mapActions, mapGetters } from 'vuex'
export default {
  data() {
    return {
      mini: true,
      drawer: null, //false,
      items: [{
        href: 'dashboard',
        router: true,
        title: 'Dashboard',
        icon: 'home',
      }, {
        href: 'kiosks',
        router: true,
        title: 'Kiosks',
        icon: 'smartphone',
      }, {
        href: 'listings',
        router: true,
        title: 'Listings',
        icon: 'picture_in_picture',
      }, {
        href: 'stats',
        router: true,
        title: 'Analytics',
        icon: 'bar_chart',
      },
      {
        href: 'changes',
        router: true,
        title: 'Changes',
        icon: 'list_alt'
      },
      {
        href: 'settings',
        router: true,
        title: 'Settings',
        icon: 'settings'
      }],
    };
  },
  methods: mapActions(['login', 'logout']),
  computed: mapGetters(['authenticated', 'idToken'])
};
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
